# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# IDEs & Editor configs
.vscode/
.idea/

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store
